@font-face {
    font-family: 'Roboto';
    src: url(./fonts/Roboto-Black.tff)
}

body {
    padding-left: 20px;
    padding-right: 20px;
}

header {
    padding-top: 20px;
    padding-left: 180px;
    padding-right: 180px;
    padding-bottom: 50px;
    font-family: 'Roboto', sans-serif;
    background-color: #1F2937;
    display: flex;
    flex-direction: row;
    justify-content: space-between;    
}

header h1 {
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    color: #F9FAF8;
    padding: 0;
    margin: 0;
    text-decoration: none;
}

main {
    padding-left: 180px;
    padding-right: 180px;
}

form {
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
    padding: 10px;
    margin-top: 2px;
    background: white;
    border: 2px solid black;
}

form label {
    padding-top: 10px;
}

form input {
    max-width: 250px;
}

.formElement {
    margin-top: 20px;
    border: 2px solid blue;
    max-width: 10ch;
}